 @model Usuario;
@{
    ViewData["Title"] = "Deleter";
} 

<form method="Post" asp-controller="Home" asp-action="Delete">
    <input type="hidden" asp-for="Id" value="@Model.Id"><br><br>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
			<h2 class="text-primary">Deletar Contato</h2>
			<hr />
		</div>
        <div class="mb-3">
		    <label asp-for="Id"></label>
		    <input asp-for="Id" disabled class="form-control" />
	    </div>
        <div class="mb-5">
			<label asp-for="NomeDoContato"></label>
			<input asp-for="NomeDoContato" disabled class="form-control" />
		</div>
        <button type="submit" class="btn btn-danger">Deletar</button>
        <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Voltar</a>
    </div>
</form>
